* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #87CEFA;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: flex;

}

/* Style the navigation menu */
nav {
  flex: 1;
  background: #FFFFCC;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}


/* Style the content */


article {
  flex: 3;
  background-color: #CCFFFF;
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 25px;
}

.link_p a{
  text-decoration: none;
  color: #000
}
.link_p2 a{
  text-decoration: none;
  color: #fff
}


img {
	width: 100px;
	height: 100px;
}

.gallery {
    background: linear-gradient(
    60deg, rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
    );

    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 64px;
 }

 .thumbnail {
     border: solid 3px rgba(255,255,255, 0.9);
     border: radius 10px;
     box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
     cursor: pointer;
     margin: 32px;
     max-height: 120px;
     max-width: 180px;
     overflow: hidden;
     transform: scale(1);
     transition: transform 1s;
 }

.thumbnail:hover {
    transform: scale(1.5);
}

 .thumbnail img {
     height: 100%;
     object-fit: cover;
     width: 100%;b
 }


/* Style the footer */
footer {
  background-color: #700;
  padding: 10px;
  text-align: center;
  color: white;
}

#kontakt a{
  text-decoration: none;
  color: #fff
}

#kontakt a:hover{
  color: grey;
}


/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}